/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 10 */

.header {
	width: 100%;
}

.container {
	width: 1024px;
	margin: 0 auto;

}

.container:after {
	content: "";
	display: block;
	visibility: hidden;
	clear:both;
}

.sidebar {
	float:left;
	width: 33.33%;
	height: 300px;
}

.main-content {
	float: left;
	height: 300px;
	width: 33.33%;
}

.sub-content {
	float: left;
	width: 33.33%;
	height: 300px;
}


.footer {
	width: 100%;
	clear: both;
}

/* what do you have to add to make the sidebar and content and footer not be the full width of the browser? */