/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 11 */

.header {
	width: 100%;
}
.header:after {
	content: "";
	clear: both;
	visibility: hidden;
	display: block;
}
.logo {
	float: left;
}

.navigation {
	float: right;
}

.main-content {
	
	width: 100%;
}
/* hint! */

.post {
	margin: 20px;
	
}
.post:after{
	content: "";
	clear: both;
	visibility: hidden;
	display: block;
}
/* hint! */

.image {
	float: left;
	width: 150px;
	height: 150px;
}

.post_excerpt {
	float: right;
	width: 75%;
}
