/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 07 */

.container {
	width: 1024px;
	margin: 0 auto;
}

.header:after {
	content: "";
  	visibility: hidden;
  	display: block;
  	/*height: 0;*/
  	clear: both;
}
/* hint! what do you have to add here? */

.logo {
	float: left;
}

.navigation {
	float: right;
}

.sidebar {
	clear: both;
	float:left;
	height: 300px;
	width: 25%;
}

.main-content:after {
	content: "";
  	visibility: hidden;
  	display: block;
  	height: 0;
  	clear: both;
}
/* hint! you have to contain the floated children elements. */

.sub-content {
	/* hint! */
	float: right;
	width: 60%;
	height: 100px;
	
}
.sub-content-2 {
	float: right;
	width: 60%;
	height: 100px;
	


}

.footer {
	clear: both;
}
